
<div class="ui raised very padded text container segment">
  <h2 class="ui header">My Profile</h2>
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src= {{this.currentUser.profilePicture}}>
      </div>
      <div class="content">
        <a class="header">{{this.currentUser.name}}</a>
        <div class="meta">
          <span>{{this.currentUser.email}}</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          <span>{{this.currentUser.dateOfBirth}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
